.card{
    width:500px;
    margin-bottom: 30px;
}
input[type="text"] {
    width: 100%;
    background:var(--inputFieldBackgound);
    color:var(--textColor);
    border:transparent;
    height:50px;
    border-radius:4px;
    color: var(--darkGrayishBlue);
    padding-left:50px;
}
input:focus {outline:none}
.hide-element{
    visibility: hidden;
}
@media only screen and (max-width: 500px) {
    .card{
        width:calc(100vw - 50px);
    }
  }
